@import '@taiga-ui/styles/taiga-ui-theme.less';
@import '@taiga-ui/styles/taiga-ui-fonts.less';
@import 'https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap';

:root {
  --tui-heading-font: "Manrope", -apple-system, "BlinkMacSystemFont", system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  --tui-text-font: "Manrope", -apple-system, "BlinkMacSystemFont", system-ui, "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
  --tui-font-heading: var(--tui-heading-font);
  --tui-font-heading-1: bold 3.125rem/3.5rem var(--tui-font-heading);
  --tui-font-heading-2: bold 2.75rem/3rem var(--tui-font-heading);
  --tui-font-heading-3: bold 2.25rem/2.5rem var(--tui-font-heading);
  --tui-font-heading-4: bold 1.75rem/2rem var(--tui-font-heading);
  --tui-font-heading-5: bold 1.5rem/1.75rem var(--tui-font-heading);
  --tui-font-heading-6: bold 1.25rem/1.5rem var(--tui-font-heading);
  --tui-font-text: var(--tui-text-font);
  --tui-font-text-xl-bold: bold 1.1875rem/1.75rem var(--tui-font-text);
  --tui-font-text-xl: normal 1.1875rem/1.75rem var(--tui-font-text);
  --tui-font-text-l-bold: bold 1.0625rem/1.75rem var(--tui-font-text);
  --tui-font-text-l: normal 1.0625rem/1.5rem var(--tui-font-text);
  --tui-font-text-m-bold: bold 1rem/1.5rem var(--tui-font-text);
  --tui-font-text-m: normal 1rem/1.25rem var(--tui-font-text);
  --tui-font-text-s-bold: bold .8125rem/1.25rem var(--tui-font-text);
  --tui-font-text-s: normal .8125rem/1rem var(--tui-font-text);
  --tui-font-text-xs-bold: bold .6875rem/1rem var(--tui-font-text);
  --tui-font-text-xs: normal .6875rem/.8125rem var(--tui-font-text);
}

html,
body {
  block-size: 100%;
  margin: 0;
}

html {
  color-scheme: light;
}

body {
  background: var(--tui-background-base);
  color: var(--tui-text-primary);
  font: var(--tui-font-text-s);
}

tui-root,
kode-glass-root {
  display: block;
  min-block-size: 100%;
  background: var(--tui-background-base);
}

button {
  font: inherit;
}
